body {
	background-color: white;
}

.scene {
	position: absolute;
	border: 5px solid white;
	background-color: black;
	margin: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
    display: none;
}

#buttons {
	height: 400px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#start-scene .button {
	font-size: 64px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

#start-scene  .button:hover, #hiscore-scene  .button:hover {
	cursor: pointer;
	color: red;
}

#table-container {
	width: 100%;
	height: 540px;
}

#hiscore-table {
	color: white;
	margin: 0 auto;
	font-size: 16px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	position: relative;
	top: 20px;
}

#hiscore-table td, #hiscore-table th {
	padding: 12px 35px;
}

#hiscore-table .this-hiscore {
	color: red;
}

#hiscore-scene .button {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: white;
	font-size: 24px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}