body {
	background-color: white;
}

.scene {
	position: absolute;
	border: 5px solid white;
	background-color: black;
	margin: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
    display: none;
}

#buttons {
	height: 400px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#start-scene .button {
	font-size: 64px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

#start-scene  .button:hover {
	cursor: pointer;
	color: red;
}